extends adminBase.pug

block content
    .container
        h3 List Of Users
        form(method="POST" action="editUserInfo")
            table(class='table table-bordered', id='Unregistered_User_Table')                
                thead
                    tr
                        th Name
                        th(class="userIDEditUserPage") ID
                        th Address
                        th Email
                        th Phone
                        th User Type

                tbody(id='Unregistered_User_Table_body')
                    each user in users
                        tr                        
                            td(class = "text")= user.profileName
                            td(name="userID" class = "text" class="userIDEditUserPage")= user.profileID
                            td(class= "userAddress" class = "text")= user.address
                            td(class= "userEmail" class = "text")= user.email
                            td(class= "userPhone" class = "text")= user.phone
                            td(class= "usertype" class = "text")= user.userType
                            td(class = "EditUserType" ) Edit
                            td(class= "CancelChange" style= "display:none") Cancel
                            td(style = "display:none")
                                input(class = "SaveUserType" type="submit" value="Save")
                            
                        
        if !users.length
            p No Unregistered users found.

    script.
    
            //- console.log($(".usertypeText").html($(this).value));

            $(".EditUserType").click(function(){
                var profileName = $(this).parent().children().eq(0).text();
                var profileID = $(this).parent().children().eq(1).text();
                var address = $(this).parent().children().eq(2).text();
                var email = $(this).parent().children().eq(3).text();
                var phone = $(this).parent().children().eq(4).text();
                var userType = $(this).parent().children().eq(5).text();
                $(this).parent().children(".usertypeText").css("display","none");
                $(this).parent().children(".usertypeChoice").css("display","block");
                $(this).next().css("display","block"); // display Save button
                $(this).next().next().css("display","block"); // display Save button

                $(this).parent().children().eq(0).replaceWith('<td> <textarea rows="2" class = "textArea" name= "profileName">'+ profileName +'</textarea> </td>');
                $(this).parent().children().eq(1).replaceWith('<td class = "userIDEditUserPage"><textarea rows="2" class = "textArea userIDEditUserPage" name= "profileID" >'+ profileID +'</textarea></td>');
                $(this).parent().children().eq(2).replaceWith('<td><textarea rows="2" class = "textArea" name= "address">'+ address +'</textarea></td>');
                $(this).parent().children().eq(3).replaceWith('<td><textarea rows="2" class = "textArea" name= "email">'+ email +'</textarea></td>');
                $(this).parent().children().eq(4).replaceWith('<td><textarea rows="2" class = "textArea" name="phone">'+ phone +'</textarea></td>');
                $(this).parent().children().eq(5).replaceWith('<td><textarea rows="2" class = "textArea" name= "userType">'+ userType +'</textarea></td>');

                $(".EditUserType").css("display", "none"); // hide all the edit buttons, we can only edit one user at a time
                $(".userIDEditUserPage").css("display","none");
            });

            $(".SaveUserType").click(function(){
                $(this).css("display","none");
                $(".submit").click();
                
            });

            $(".CancelChange").click(function(){
                $(this).css("display","none");
                $(".EditUserType").css("display","block");
                $(".SaveUserType").parent().css("display","none");

                var profileName = $(this).parent().children().eq(0).text();
                var profileID = $(this).parent().children().eq(1).text();
                var address = $(this).parent().children().eq(2).text();
                var email = $(this).parent().children().eq(3).text();
                var phone = $(this).parent().children().eq(4).text();
                var userType = $(this).parent().children().eq(5).text();
                
                $(this).parent().children().eq(0).replaceWith('<td class = "text" > '+ profileName +'</td>');
                $(this).parent().children().eq(1).replaceWith('<td name="userID" class = "text userIDEditUserPage" >'+ profileID +'</td>');
                $(this).parent().children().eq(2).replaceWith('<td class= "userAddress" class = "text">'+ address +'</td>');
                $(this).parent().children().eq(3).replaceWith('<td class= "userEmail" class = "text">'+ email +'</td>');
                $(this).parent().children().eq(4).replaceWith('<td class= "userPhone" class = "text">'+ phone +'</td>');
                $(this).parent().children().eq(5).replaceWith('<td class= "usertype" class = "text">'+ userType +'</td>');
                $(".userIDEditUserPage").css("display","none");

            });

            $(".EditUserType").mouseover(function() {
                $( this ).css("color", "blue");
            }).mouseout(function() {
                $( this ).css("color", "black");
            });

            $(".CancelChange").mouseover(function() {
                $( this ).css("color", "blue");
            }).mouseout(function() {
                $( this ).css("color", "black");
            });

            $(".userIDEditUserPage").css("display","none");
        
            



            
