extends ../../catalog.pug

block content
  div(class="container")
    div(class="row justify-content-md-center")
      h3 Book
       small
      .btn-group
       a(href=`/users/admin/books/${book.id}/edit`, class='btn btn-primary btn-sm')
         i.glyphicon.glyphicon-edit
         span  Edit book
       a(href=`/users/admin/books/${book.id}/delete`, class='btn btn-danger btn-sm')
         i.glyphicon.glyphicon-trash
         span  Delete book

      .media
          .media-left
            img(Id="image" src=book.imageUrl)
          .media-body
            h4= book.title
              | &nbsp;
              small= book.publishedDate
            h5 By #{book.author||'unknown'}
            p= book.description
