extends ../../catalog.pug

block content
  div(class="container")
    div(class="row justify-content-md-center")
      h3 Movie
       small
      .btn-group
       a(href=`/users/admin/movies/${movie.id}/edit`, class='btn btn-primary btn-sm')
         i.glyphicon.glyphicon-edit
         span  Edit Movie
       a(href=`/users/admin/movies/${movie.id}/delete`, class='btn btn-danger btn-sm')
         i.glyphicon.glyphicon-trash
         span  Delete Movie

      .media
          .media-left
            img(Id="image" src=movie.imageUrl)
          .media-body
            h4= movie.title
              | &nbsp;
              small= movie.publishedDate
            h5 By #{movie.director||'unknown'}
            p= movie.description
