extends ../../catalog-client.pug

block content
  div(class="container")
    div(class="row justify-content-md-center")
      h3 Music
      .media
          .media-left
            img(Id="image" src=music.imageUrl)
          .media-body
            h4= music.title
              | &nbsp;
              small= music.publishedDate
            h5 By #{music.artist||'unknown'}
            p= music.description
      br
      .btn-group
       a(href=`/users/client/musics/${music.id}/addToCart`, class='btn btn-success btn-sm' disabled=check)
         i.glyphicon.glyphicon-shopping-cart
         span  Add to Cart
