extends ../../catalog-client.pug

block content
  div(class="container")
    div(class="row justify-content-md-center")
      h3 Book
       small

      .media
          .media-left
            img(Id="image" src=book.imageUrl)
          .media-body
            h4= book.title
              | &nbsp;
              small= book.publishedDate
            h5 By #{book.author||'unknown'}
            p= book.description
