doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css_styles/catalog_styles.css' type='text/css' media='screen' charset='utf-8')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand FreeForFree

        ul.nav.navbar-nav
          li
            a(href="/users/admin/list") Active Users
          li
            a(href="/users/admin/catalog") Catalog

        p.navbar-text.navbar-right
          if profile
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)

    .container

      block content
        br
        header Books
        table(class='table')
         thead
          tr
           td
           td Title
           td Format
           td Pages
           td Language
           td Author
           td Published
           td ISBN-10
           td ISBN-13
         tbody
          each book in books
           tr
            td
             .media-left
              img(Id="bookImage" src=book.imageUrl)
            td= book.title
            td= book.format
            td= book.pages
            td= book.language
            td= book.author
            td= book.publishedDate
            td= book.ISBN10
            td= book.ISBN13

        br
        header Magazines
        table(class='table')
         thead
          tr
           td Title
           td Language
           td Publisher
           td ISBN-10
           td ISBN-13
          tbody
           each magazine in Magazines
            tr
             td= magazine.title
             td= magazine.language
             td= magazine.publisher
             td= magazine.ISBN10
             td= magazine.ISBN13
