doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css_styles/catalog_styles.css' type='text/css' media='screen' charset='utf-8')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand FreeForFree

        ul.nav.navbar-nav
          li
            a(href="/users/admin/list") Active Users
          li
            a(href="/users/admin/catalog") Catalog

        p.navbar-text.navbar-right
          if profile
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)

    .container

      block content
        br
        header Books
        table(class='table')
         thead
          tr
           td
           td Name
           td Description
           td Author
           td Published
         tbody
          each book in books
           tr
            td
             .media-left
              img(src=book.imageUrl)
            td= book.title
            td= book.description
            td= book.author
            td= book.publishedDate











      //a(href="/books/add", class='btn btn-success btn-sm')
        i.glyphicon.glyphicon-plus
        span  Add book

      //each book in books
        .media
          a(href=`/books/${book.id}`)
            .media-left
                img(src=book.imageUrl || "http://placekitten.com/g/128/192")
            .media-body
              h4= book.title
              p= book.author

      //if !books.length
        p No books found.

      //if nextPageToken
        nav
          ul.pager
            li
    //a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
