doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css_styles/catalog_styles.css' type='text/css' media='screen' charset='utf-8')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand FreeForFree

        ul.nav.navbar-nav
          li
            a(href="/users/admin/list") Active Users
          li
            a(href="/users/admin/catalog") Catalog
          li
            a(href="/users/admin/addUser") Create New User
            ul.nav.navbar-nav
              li
                a(href="/users/admin/books") Books
              li 
                a(href="/users/admin/magazines") Magazines
              li 
                a(href="/users/admin/movies") Movies
              li 
                a(href="/users/admin/music") Music
        p.navbar-text.navbar-right
          if profile
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)

    .container
      block content
        h3 #{action} Movies
        form(method="POST", enctype="multipart/form-data")
          .form-group
            label(for="title") Title
            input.form-control(type="text", name="Title", id="title", value=movie.title)
          .form-group
            label(for="director") Director
            input.form-control(type="text", name="Director", id="director", value=movie.director)
          .form-group
            label(for="producers") Producers
            input.form-control(type="text", name="Producers", id="producers", value=movie.producers)  
        
          .form-group
            label(for="actors") Actors
            input.form-control(type="text", name="Actors", id="actors", value=movie.actors)
        
          .form-group
            label(for="language") Language
            input.form-control(type="text", name="Language", id="language", value=movie.language)
          .form-group
            label(for="subtitles") Subtitles
            input.form-control(type="text", name="Subtitles", id="subtitles", value=movie.subtitles)
          .form-group
            label(for="dubbed") Dubbed
            input.form-control(type="text", name="Dubbed", id="dubbed", value=movie.dubbed)
          .form-group
            label(for="runtime") Runtime
            input.form-control(type="text", name="Runtime", id="runtime", value=movie.runtime)
          .form-group
            label(for="image") Cover Image
            input.form-control(type="file", name="image", id="image")
          button.btn.btn-success(type="submit") Save
