extends ../catalog.pug

block content
  .container
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/formMagazine") Add Magazine
    br
    header Magazines
    table(class="table table-striped table-bordered")
     thead
      tr
       td View
       td Title
       td Language
       td Publisher
       td ISBN-10
       td ISBN-13
     tbody   
      each magazine in magazines
       tr
         td
          .media-left
           a(href=`/users/admin/magazines/${magazine.id}`)
            img(Id="image" src=magazine.imageUrl)
          td= magazine.title
          td= magazine.language
          td= magazine.publisher
          td= magazine.ISBN10
          td= magazine.ISBN13
  if !magazines.length
    p No magazines found.
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
