extends ../catalog.pug

block content
  .container
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/formMovie") Add Movie
    br
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/sortBooksByTitle") Sort By Title
      a(class="btn btn-primary" href="/users/admin/sortBooksByFormat") Sort By Director
      a(class="btn btn-primary" href="/users/admin/sortBooksByPages") Sort By Producers
      a(class="btn btn-primary" href="/users/admin/sortBooksByLanguage") Sort By Actors
      a(class="btn btn-primary" href="/users/admin/sortBooksByAuthor") Sort By Language
      a(class="btn btn-primary" href="/users/admin/sortBooksByPublished") Sort By Subtitles
      a(class="btn btn-primary" href="/users/admin/sortBooksByISBN10") Sort By Dubbed
      a(class="btn btn-primary" href="/users/admin/sortBooksByISBN13") Sort By Run Time
    br
    header Movies
    table(class='table')
     thead
      tr
       td View
       td Title
       td Director
       td Producers
       td Actors
       td Language
       td Subtitles
       td Dubbed
       td Run Time
     tbody
      each movie in movies
       tr
        td
         .media-left
          a(href=`/users/admin/movies/${movie.id}`)
           img(Id="image" src=movie.imageUrl)
        td= movie.title
        td= movie.director
        td= movie.producers
        td= movie.actors
        td= movie.language
        td= movie.subtitles
        td= movie.dubbed
        td= movie.runTime
  if !movies.length
    p No movies found.
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
