doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css_styles/catalog_styles.css' type='text/css' media='screen' charset='utf-8')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand FreeForFree

        ul.nav.navbar-nav
          li
            a(href="/users/admin/list") Active Users
          li
            a(href="/users/admin/catalog") Catalog
            ul.nav.navbar-nav
              li
                a(href="/users/admin/books") Books
              li 
                a(href="/users/admin/magazines") Magazines
              li 
                a(href="/users/admin/movies") Movies
              li 
                a(href="/users/admin/music") Music
          li 
            a(href="/users/admin/formBook") Add Book
        p.navbar-text.navbar-right
          if profile
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)

    .container

      block content
        br
        header Movies
        table(class='table')
         thead
          tr
           td Title
           td Director
           td Producers
           td Actors
           td Language
           td Subtitles
           td Dubbed
           td Run Time
         tbody
          each movie in movies
           tr
            td= movie.title
            td= movie.director
            td= movie.producers
            td= movie.actors
            td= movie.language
            td= movie.subtitles
            td= movie.dubbed
            td= movie.runTime
      if !movies.length
        p No movies found.
