extends ../catalog.pug

block content

  .container
    div(class="searchForm")
      .form-group
        h1
          label(for="search") Search <span class="glyphicon glyphicon-search"></span>
            form(action = "movies" method = "post" name = "movies")
              input.form-control(type="text", name="searchBar")
              br
              select(name = "movies")
                option.form-control(name="title") Title
                option.form-control(name="director") Director
                option.form-control(name="producers") Producers
                option.form-control(name="actors") Actors
                option.form-control(name="language") Language
                option.form-control(name="subtitles") Subtitles
                option.form-control(name="dubbed") Dubbed
                option.form-control(name="releaseDate") Release Date
                option.form-control(name="runTime") Length
                br
              button(type = "submit" class="btn btn-primary")
                span Submit




    div(align="center")
      a(class="btn btn-primary" href="/users/admin/formMovie") Add Movie
    br
    header Movies
    table(class="table table-striped table-bordered")
     thead
      tr
       td View
       td Title
       td Director
       td Producers
       td Actors
       td Language
       td Subtitles
       td Dubbed
       td Run Time
     tbody
      each movie in movies
       tr
        td
         .media-left
          a(href=`/users/admin/movies/${movie.id}`)
           img(Id="image" src=movie.imageUrl)
        td= movie.title
        td= movie.director
        td= movie.producers
        td= movie.actors
        td= movie.language
        td= movie.subtitles
        td= movie.dubbed
        td= movie.runTime
  if !movies.length
    p No movies found.
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
