extends ../catalog.pug

block content
  .container
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/formMusic") Add Music
    br
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/sortBooksByTitle") Sort By Title
      a(class="btn btn-primary" href="/users/admin/sortBooksByFormat") Sort By Type
      a(class="btn btn-primary" href="/users/admin/sortBooksByPages") Sort By Producers
      a(class="btn btn-primary" href="/users/admin/sortBooksByLanguage") Sort By Artist
      a(class="btn btn-primary" href="/users/admin/sortBooksByAuthor") Sort By Label
      a(class="btn btn-primary" href="/users/admin/sortBooksByPublished") Sort By Release Date
      a(class="btn btn-primary" href="/users/admin/sortBooksByISBN10") Sort By ASIN
    header Music
    br
    table(class='table')
     thead
      tr
       td View
       td Title
       td Type
       td Artist
       td Label
       td Release Date
       td ASIN
     tbody
      each music in musics
       tr
        td
         .media-left
          a(href=`/users/admin/music/${music.id}`)
           img(Id="image" src=music.imageUrl)
        td= music.title
        td= music.type
        td= music.artist
        td= music.label
        td= music.releaseDate
        td= music.ASIN
  if !musics.length
    p No musics found.
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
