extends ../catalog.pug

block content
  .container
    div(class="searchForm")
      .form-group
        h1
          label(for="search") Search <span class="glyphicon glyphicon-search"></span>
          form(action = "music" method = "post" name = "music")
            input.form-control(type="text", name="searchBar")
      div(class="searchDropDown")
        select(name = "music")
          option.form-control(value="title") Title
          option.form-control(value = "type") Type
          option.form-control(value="artist") Artist
          option.form-control(value="label") Label
          option.form-control(value="releaseDate") Release Date
          option.form-control(value="asin") ASIN
      br
      br
      div(class="submitSearch")
        button(type = "submit" class="btn btn-primary")
         span Submit
      br
      br


    br
    div(align="center")
      a(class="btn btn-primary" href="/users/admin/formMusic") Add Music
    br
    header Music
    table(class="table table-striped table-bordered")
     thead
      tr
       td View
       td Title
       td Type
       td Artist
       td Label
       td Release Date
       td ASIN
     tbody
      each music in musics
       tr
        td
         .media-left
          a(href=`/users/admin/music/${music.id}`)
           img(Id="image" src=music.imageUrl)
        td= music.title
        td= music.type
        td= music.artist
        td= music.label
        td= music.releaseDate
        td= music.ASIN
  if !musics.length
    p No musics found.
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
